---
streamId: "account-3493788/pages-locations"
urlFormat: "{{ .externalEntityId }}.html"
---
{{define "gotemplates.tmpl" -}}
<html>
    <body>
        <h1> Welcome to Global Locker - {{.name}}</h1>
        <p> description </p>
    </body>
</html>
{{end}}